body {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff4e2;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(91, 196, 102);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #000000d0;
    border-radius: 10px;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #2c196b;
    color: white;
    padding: 5px 0;
    align-items: center; 
    display: flex;
    transition: transform 0.3s ease, background-color 0.3s ease-in;
}

.header.light {
    background: #7d95ff;
}

.header-logo {
    height: 2.5em;
    width: 2.5em;
    margin: .5em;
    margin-left: 1em;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease-in;
    cursor: pointer;
}

.header-logo.white {
    content: url(images/iconWhite.svg);
}

nav {
    margin-left: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

#fitur {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: #000000;
    margin: 15px auto;
    padding: 15px;
    border-radius: 3em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Keeps within browser window width */
}

#fitur h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
    text-align: center;
    margin: 5px;
    margin-bottom: 15px;
}

#fitur-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.carousel {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.carousel-container {
    display: flex;
    width: 100%;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    padding: 0.5vb;
    text-align: center;
}

.carousel-item img {
    height: 70vh;
    margin-bottom: 10px;
    border-radius: 2em;
    border: 3px solid #000000;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.carousel-button:focus {
    outline: none;
}


#home {
    margin-top: 100px;
    background: rgba(255, 255, 255, 0);
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


#kenapa-memilih {
    background: #bbc8ff;
    padding: 20px;
    margin: 15px auto;
    border-radius: 1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

#kenapa-memilih h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
    margin: 5px;
}

#kenapa-memilih ul {
    list-style-type: square;
    padding-left: 20px;
}


#tentang-kami {
    background: #cfe9f5;
    padding: 20px;
    margin: 15px auto;
    border-radius: 1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

#tentang-kami h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
    margin: 5px;
}

#tentang-kami p {
    color: #000000;
    line-height: 1.6;
}


#pengembangan {
    background: #e3f2fd;
    padding: 20px;
    margin: 15px auto;
    border-radius: 1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

#pengembangan h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
    margin: 5px;
}

#pengembangan ul {
    list-style-type: none;
    padding-left: 0;
}

#pengembangan li {
    background: #bbdefb;
    padding: 10px;
    margin: 5px 0;
    border-radius: 0.5em;
}

#sdgs {
    background: #76c6ff;
    padding: 20px;
    margin: 15px auto;
    border-radius: 1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

#sdgs-title {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    
}

#sdgs-text {
    margin: 10px;
   align-items: center;
}

#sdgs h2 {
    font-size: 2em;
    color: #000000;
    text-align: left;  
    margin: 5px;
}

#sdgs h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #000000;
    text-align: left; 
    margin: 5px;
}

#sdgs h4 {
    font-size: 1.5em;
    font-weight: 500;
    color: #000000;
    text-align: left; 
    margin: 5px;
}

#sdgs ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
}

#sdgs li {
    margin: 20px;
}

#sdgs-element {
    display: flex;
}

#sdgs-element img {
    height: 10em;
    width: 10em;
}

#sdgs-element p {
    margin: 20px;
    margin-top: 0;
}

#kontak {
    background: #6383db;
    padding: 20px;
    margin: 15px auto;
    border-radius: 1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

#kontak h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
}

#kontak p {
    text-align: center;
    color: #000000;
}

#kontak a {
    color: #ffffff;
    text-decoration: underline;
}


footer {
    text-align: center;
    padding: 10px 0;
    background: #7d95ff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: .1em;
    font-size: 0.8em;
}